.todoItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  height: 46px;
  padding-left: 12px;
}

.todoItem:hover {
  background-color: lightgray;
}

.deleteButton {
  margin-right: 5px;
  width: 60px;
  height: 36px;
  border-radius: 10px;
  background-color: pink;
  color: white;
  border: none;
}
.deleteButton:hover {
  filter: brightness(0.9);
}

.deleteButton:active {
  filter: brightness(0.8);
}

.editButton {
  margin-right: 2px;
  width: 60px;
  height: 36px;
  border-radius: 10px;
  background-color: skyblue;
  color: white;
  border: none;
}
.editButton:hover {
  filter: brightness(0.9);
}

.editButton:active {
  filter: brightness(0.8);
}

.text,
.editor {
  background-color: transparent;
  flex: 1;
  margin-left: 5px;
}

.text {
  text-align: left;
  position: relative;
}

.done {
  text-decoration: line-through;
}

.leftBox {
  display: flex;
  align-items: center;
  flex: 1;
}

:visited {
  color: black;
}
