.main-page {
  background-color: blanchedalmond;
  height: 100vh;
  padding: 50px 0;
}
.logo {
  font-family: sans-serif;
  font-size: 5rem;
  color: #555;
  text-align: center;
}

.main-page > .wrap {
  margin: auto;
  height: 100%;
  max-width: var(--max-w);
  min-width: var(--min-w);
  width: 80%;
  position: relative;
}
.submit-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 46px;
}

.todo-input {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 15pt;
  border: none;
  display: flex;
  align-items: center;
  display: block;
  border: 2px solid transparent;
  transition: border-color 0.2s;
}
.todo-input:focus {
  border-color: burlywood;
  outline: none;
}

.submit-button {
  position: absolute;
  text-decoration: none;
  width: 60px;
  height: 36px;
  border-radius: 10px;
  background-color: yellowgreen;
  color: white;
  border: 1px solid #ccc;
  right: 5px;
}

.submit-button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
.submit-button:active {
  filter: brightness(0.8);
}

.submit-button:focus {
  outline: none;
}

.delete_all-btn {
  position: absolute;
  width: 595px;
  font-size: 8pt;
  margin-top: 10px;
}

.delete_all-btn:hover {
  cursor: default;
}
