.main-page {
  background-color: blanchedalmond;
  height: 100vh;
  position: relative;
}
.logo {
  font-size: 5rem;
  color: #555;
  text-align: center;
}

.main-page > .wrap {
  max-width: var(--max-w);
  min-width: var(--min-w);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  position: relative;
}

.submit-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.todo-input {
  padding-left: 10px;
  flex: 1;
  height: 46px;
  font-size: 15pt;
  border: none;
  display: flex;
  align-items: center;
  display: block;
}
.todo-input:focus {
  outline: none;
}

.submit-button {
  text-decoration: none;
  width: 60px;
  height: 36px;
  border-radius: 10px;
  background-color: yellowgreen;
  color: white;
  border: 1px solid #ccc;
}

.submit-button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
.submit-button:active {
  filter: brightness(0.8);
}

.submit-button:focus {
  outline: none;
}

.delete_all-btn {
  position: absolute;
  width: 595px;
  font-size: 8pt;
  margin-top: 10px;
}

.delete_all-btn:hover {
  cursor: default;
}

:link {
  color: black;
}
